<div class="contact">
	<div class="contact-container">
		<h2>CONTACT</h2>
		<p>FIND US AT SOME ADDRESS AT SOME PLACE OR CALL US AT 05050515-122330</p>
		<p>
			<span class="fyi">FYI!</span>WE OFFER FULL-SERVICE CATERING FOR ANY EVENT, LARGE OR SMALL. WE UNDERSTAND YOUR NEEDS AND WE WILL CATER THE FOOD TO SATISFIY THE BIGGEST CRITERIAZ OF THEM ALL, BOTH LOOK AND TASTE.</p>
		<p>
			<span>RESERVE</span>
			A TABLE, ASK FOR TODAY'S SPECIAL OR JUST SEND US A MESSAGE:</p>

		{{ form_start(form) }}

		{{ form_row(form.name, { label: false, attr: { placeholder: 'NAME' } } ) }}
		{{ form_row(form.quantity, { label: false, attr: { placeholder: 'HOW MANY PEOPLE' } } ) }}
		{{ form_row(form.datetime, { label:false }) }}
		{{ form_row(form.message, { label: false, attr: { placeholder: 'MESSAGE \ SPECIAL REQUIREMENTS' } } ) }}

		{# {{ form_row(form) }} #}

		<input type="submit" value="SEND MESSAGE">

		{{ form_end(form) }}

	</div>
</div>
